.home-container {
  @apply flex flex-col;
  @apply h-screen;
  @apply mx-32 pt-32;
  color: white;

  .home-title {
    @apply text-4xl sm:text-6xl xl:text-9xl;
    font-weight: bold;
  }

  .home-subtitle {
    @apply text-lg sm:text-xl xl:text-3xl;
    @apply mt-6 sm:mt-10 xl:mt-16;
    @apply max-w-xs sm:max-w-sm xl:max-w-3xl;
  }

  .home-buttons-group {
    @apply mt-10 sm:mt-16 xl:mt-32;
    @apply flex-col;
    .home-button {
      @apply py-2 sm:py-4 xl:py-6;
      @apply px-16 sm:px-24 xl:px-32;
      @apply rounded-3xl;
      background: #97b2ca;
    }

  }
}
